<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meishihome.core.dao.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.meishihome.core.entity.Category">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="dname" property="dname" jdbcType="VARCHAR"/>
        <result column="mname" property="mname" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="parentid" property="parentId" jdbcType="INTEGER"/>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="caicount" property="caiCount" jdbcType="INTEGER"/>
    </resultMap>

    <select id="count" resultType="int">
      select count() from category
    </select>

    <select id="select" parameterType="int" resultType="Category">
        select * from category where id=#{id}
    </select>

    <select id="delete" parameterType="int">
      delete from category where id=#{id}
    </select>

    <insert id="insert" parameterType="Category">
      insert into category(name,dname,mname,pinyin,parentid,createtime,caicount) values(#{name},#{dname},#{mname},#{pinyin},#{parentId},now(),1)
    </insert>

    <update id="update" parameterType="Category">
        update category set name=#{name},dname=#{dname},mname=#{mname},parentid=#{parentId} where id=#{id}
    </update>

    <select id="selectAll" resultType="Category">
        select * from category order by id asc
    </select>

    <select id="selectTopLevel" resultType="Category">
        select * from category where parentid=0 order by id asc
    </select>

    <select id="selectByParent" resultType="Category" parameterType="int">
        select * from category where parentid=#{parentId} order by id asc
    </select>

    <select id="selectNameById" resultType="string" parameterType="int">
        select name from category where id=#{id}
    </select>
</mapper>