<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meishihome.core.dao.CMRelationMapper" >
  <resultMap id="BaseResultMap" type="com.meishihome.core.entity.CMRelation" >
      <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="cid" property="crowdId" jdbcType="INTEGER" />
    <result column="cname" property="crowdName" jdbcType="VARCHAR" />
    <result column="mid" property="materialId" jdbcType="INTEGER" />
    <result column="mname" property="materialName" jdbcType="VARCHAR" />
  </resultMap>

    <sql id="columns">
        cid,cname,mid,mname
    </sql>

    <insert id="insert" parameterType="CMRelation">
        insert into crowd_material(cid,mid,createtime) values(#{crowdId},#{materialId},now())
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into crowd_material(cid,mid,createtime) values
        <foreach collection="list" item="item" separator=",">
          (#{item.crowdId},#{item.materialId},now())
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from crowd_material where id=#{id}
    </delete>

    <delete id="delete" parameterType="CMRelation">
        delete from crowd_material where cid=#{crowdId} and mid=#{materialId}
    </delete>

    <delete id="batchDelete" parameterType="list">
        delete from crowd_material where id in
        <foreach collection="list" index="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="selectByCrowd" resultType="CMRelation" parameterType="int">
        select
        <include refid="columns"/>
        from c_m_view where cid=#{crowdId}
    </select>

    <select id="selectByMaterial" resultType="CMRelation" parameterType="int">
        select
        <include refid="columns"/>
        from c_m_view where mid=#{materialId}
    </select>
</mapper>