<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meishihome.core.dao.FocusMapper" >
  <resultMap id="BaseResultMap" type="com.meishihome.core.entity.Focus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="bigphoto" property="bigPhoto" jdbcType="VARCHAR" />
    <result column="smallphoto" property="smallPhoto" jdbcType="VARCHAR" />
    <result column="publishtime" property="publishTime" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="select" parameterType="int" resultType="Focus">
        select * from focus where id=#{id}
    </select>

    <insert id="insert" parameterType="Focus">
        insert into focus(title,url,bigphoto,smallphoto,publishtime,createtime) values(#{title},#{url},#{bigPhoto},#{smallPhoto},#{publishTime},now())
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from focus where id=#{id}
    </delete>

    <update id="update" parameterType="Focus">
        update focus set title=#{title},url=#{url},publishtime=#{publishTime} where id=#{id}
    </update>

    <select id="selectAll" resultType="Focus">
        select * from focus order by id;
    </select>
</mapper>