<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meishihome.core.dao.ImageMapper">
    <resultMap id="BaseResultMap" type="com.meishihome.core.entity.Image">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="file" property="file" jdbcType="VARCHAR"/>
        <result column="objid" property="objId" jdbcType="INTEGER"/>
        <result column="extend" property="extend" jdbcType="CHAR"/>
        <result column="hit" property="hit" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Image">
      insert into image(file, objid, extend,hit,date) values(#{file}, #{objId}, #{extend}, 0, now())
    </insert>

    <select id="select" resultType="Image" parameterType="int">
        select * from image where id=#{id}
    </select>
</mapper>