<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meishihome.core.dao.MaterialMapper">
    <resultMap id="BaseResultMap" type="com.meishihome.core.entity.Material">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sname" property="sname" jdbcType="VARCHAR"/>
        <result column="aname" property="aname" jdbcType="VARCHAR"/>
        <result column="letter" property="letter" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="hit" property="hit" jdbcType="INTEGER"/>
        <result column="info" property="info" jdbcType="LONGVARCHAR"/>
        <result column="alimentation" property="alimentation" jdbcType="LONGVARCHAR"/>
        <result column="human" property="human" jdbcType="LONGVARCHAR"/>
        <result column="make" property="make" jdbcType="LONGVARCHAR"/>
        <result column="cure" property="cure" jdbcType="LONGVARCHAR"/>
        <result column="other" property="other" jdbcType="LONGVARCHAR"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
        <result column="conflict" property="conflict" jdbcType="LONGVARCHAR"/>
        <association column="categoryid" property="category"
                     javaType="Category" select="com.meishihome.core.dao.CategoryMapper.select"/>
    </resultMap>

    <resultMap id="CMViewMap" type="com.meishihome.core.entity.Material">
        <id column="mid" property="id" jdbcType="INTEGER"/>
        <result column="mname" property="name" jdbcType="VARCHAR"/>
        <result column="mpic" property="pic" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="count" resultType="int">
        select count(1) from material
    </select>

    <insert id="insert" parameterType="Material">
        insert into material(name,sname,aname,letter,categoryid,weight,pic,info,alimentation,human,make,cure,other,remark,conflict)
        values(#{name},#{sname},#{aname},#{letter},#{category.id},#{weight},#{pic},#{info},#{alimentation},#{human},#{make},#{cure},#{other},#{remark},#{conflict})
    </insert>

    <update id="update" parameterType="Material">
        update material set name=#{name},sname=#{sname},aname=#{aname},letter=#{letter},categoryid=#{category.id},weight=#{weight},pic=#{pic},
                            info=#{info},alimentation=#{alimentation},human=#{human},make=#{make},cure=#{cure},other=#{other},remark=#{remark},conflict=#{conflict}
    </update>

    <delete id="delete" parameterType="int">
        delete from material where id=#{id}
    </delete>

    <select id="select" parameterType="int" resultMap="BaseResultMap">
        select * from material where id=#{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from material order by id asc
    </select>

    <select id="selectBySeason" resultMap="BaseResultMap" parameterType="int">
        select * from material where season=#{season} limit 24
    </select>

    <select id="selectByCrowd" resultMap="CMViewMap" parameterType="int">
        select * from c_m_view where cid=#{crowdId}
    </select>

    <select id="selectHotter" resultMap="BaseResultMap">
        select id,name,pic from material order by hit desc
    </select>
</mapper>