<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meishihome.core.dao.SearchTopMapper" >
    <resultMap id="BaseResultMap" type="com.meishihome.core.entity.SearchTop" >
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="result" property="result" jdbcType="INTEGER" />
        <result column="hit" property="hit" jdbcType="INTEGER" />
    </resultMap>

    <select id="selectTop" resultType="SearchTop">
        select * from searchtop order by hit desc
    </select>
</mapper>