<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiuu.core.dao.CookbookMapper" >
  <resultMap id="BaseResultMap" type="com.caiuu.core.entity.Cookbook" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="headpic" property="headpic" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="ppinyin" property="ppinyin" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="authorurl" property="authorurl" jdbcType="VARCHAR" />
    <result column="hit" property="hit" jdbcType="INTEGER" />
    <result column="hitlastweek" property="hitlastweek" jdbcType="INTEGER" />
    <result column="publishtime" property="publishtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, headpic, name, pid, pname, ppinyin, cid, cname, sid, sname, remark, author, authorurl, 
    hit, hitlastweek, publishtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.caiuu.core.entity.CookbookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Caipu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Caipu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Caipu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.caiuu.core.entity.CookbookExample" >
    delete from Caipu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.caiuu.core.entity.Cookbook" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Caipu (headpic, name, pid, 
      pname, ppinyin, cid, 
      cname, sid, sname, 
      remark, author, authorurl, 
      hit, hitlastweek, publishtime
      )
    values (#{headpic,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{pname,jdbcType=VARCHAR}, #{ppinyin,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{cname,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{authorurl,jdbcType=VARCHAR}, 
      #{hit,jdbcType=INTEGER}, #{hitlastweek,jdbcType=INTEGER}, #{publishtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.caiuu.core.entity.Cookbook" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Caipu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="headpic != null" >
        headpic,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="ppinyin != null" >
        ppinyin,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="authorurl != null" >
        authorurl,
      </if>
      <if test="hit != null" >
        hit,
      </if>
      <if test="hitlastweek != null" >
        hitlastweek,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="headpic != null" >
        #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ppinyin != null" >
        #{ppinyin,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="authorurl != null" >
        #{authorurl,jdbcType=VARCHAR},
      </if>
      <if test="hit != null" >
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="hitlastweek != null" >
        #{hitlastweek,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.caiuu.core.entity.CookbookExample" resultType="java.lang.Integer" >
    select count(*) from Caipu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Caipu
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.headpic != null" >
        headpic = #{record.headpic,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.ppinyin != null" >
        ppinyin = #{record.ppinyin,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.sname != null" >
        sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.authorurl != null" >
        authorurl = #{record.authorurl,jdbcType=VARCHAR},
      </if>
      <if test="record.hit != null" >
        hit = #{record.hit,jdbcType=INTEGER},
      </if>
      <if test="record.hitlastweek != null" >
        hitlastweek = #{record.hitlastweek,jdbcType=INTEGER},
      </if>
      <if test="record.publishtime != null" >
        publishtime = #{record.publishtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Caipu
    set id = #{record.id,jdbcType=INTEGER},
      headpic = #{record.headpic,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER},
      pname = #{record.pname,jdbcType=VARCHAR},
      ppinyin = #{record.ppinyin,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=INTEGER},
      cname = #{record.cname,jdbcType=VARCHAR},
      sid = #{record.sid,jdbcType=INTEGER},
      sname = #{record.sname,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      authorurl = #{record.authorurl,jdbcType=VARCHAR},
      hit = #{record.hit,jdbcType=INTEGER},
      hitlastweek = #{record.hitlastweek,jdbcType=INTEGER},
      publishtime = #{record.publishtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.caiuu.core.entity.Cookbook" >
    update Caipu
    <set >
      <if test="headpic != null" >
        headpic = #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ppinyin != null" >
        ppinyin = #{ppinyin,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="authorurl != null" >
        authorurl = #{authorurl,jdbcType=VARCHAR},
      </if>
      <if test="hit != null" >
        hit = #{hit,jdbcType=INTEGER},
      </if>
      <if test="hitlastweek != null" >
        hitlastweek = #{hitlastweek,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caiuu.core.entity.Cookbook" >
    update Caipu
    set headpic = #{headpic,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      pname = #{pname,jdbcType=VARCHAR},
      ppinyin = #{ppinyin,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      cname = #{cname,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=INTEGER},
      sname = #{sname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      authorurl = #{authorurl,jdbcType=VARCHAR},
      hit = #{hit,jdbcType=INTEGER},
      hitlastweek = #{hitlastweek,jdbcType=INTEGER},
      publishtime = #{publishtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>