<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiuu.core.dao.DetailMapper">
    <resultMap id="BaseResultMap" type="com.caiuu.core.entity.Detail">
        <result column="cookbookid" property="cookbookId" jdbcType="INTEGER"/>
        <result column="material" property="material" jdbcType="VARCHAR"/>
        <result column="blending" property="blending" jdbcType="VARCHAR"/>
        <result column="fixing" property="fixing" jdbcType="VARCHAR"/>
        <result column="fire" property="fire" jdbcType="VARCHAR"/>
        <result column="okren" property="okren" jdbcType="VARCHAR"/>
        <result column="noren" property="noren" jdbcType="VARCHAR"/>
        <result column="pkey" property="pkey" jdbcType="VARCHAR"/>
        <result column="ckey" property="ckey" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="good" property="good" jdbcType="INTEGER"/>
        <result column="bad" property="bad" jdbcType="INTEGER"/>
        <result column="hit" property="hit" jdbcType="INTEGER"/>
        <result column="hitlast" property="hitLast" jdbcType="INTEGER"/>
        <result column="publishtime" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="lasttime" property="lastTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.caiuu.core.entity.Detail" extends="BaseResultMap">
        <result column="info" property="info" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="Detail">
        insert into detail(cookbookid,material,blending,fixing,fire,okren,noren,pkey,ckey,pic,status,good,bad,publishtime,lasttime)
            values(#{cookbookId},#{material},#{blending},#{fixing},#{fire},#{okren},#{noren},#{pkey},#{ckey},#{pic},#{static},#{good},#{bad},now(),now())
    </insert>

    <update id="update" parameterType="Detail">
        update detail set material=#{material},blending=#{blending},fixing=#{fixing},fire=#{fire},okren=#{okren},noren=#{noren},pkey=#{pkey},
                          ckey=#{ckey},pic=#{pic},status=#{status},good=#{good},bad=#{bak},lasttime=#{lasttime} where cookbookid=#{cookbookId}
    </update>

    <delete id="delete" parameterType="int">
        delete from detail where cookbookid=#{cookbookId}
    </delete>

    <select id="select" parameterType="int" resultType="Detail">
        select * from detail where cookbookid=#{cookbookId}
    </select>

    <select id="selectAll" resultType="Detail">
        select * from detail order by cookbookid desc
    </select>
</mapper>