<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiuu.core.dao.FocusMapper" >
  <resultMap id="BaseResultMap" type="com.caiuu.core.entity.Focus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="pic43" property="pic43" jdbcType="VARCHAR" />
    <result column="pic21" property="pic21" jdbcType="VARCHAR" />
    <result column="publishtime" property="publishTime" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="selectAll" resultType="Focus">
        select * from focus order by id;
    </select>

    <insert id="save" parameterType="Focus">
        insert info focus(title,url,pic43,pic21,publishtime,createtime) values(#{title},#{url},#{pic43},#{pic21},#{publishTime},now())
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from focus where id=#{id}
    </delete>

    <update id="update" parameterType="Focus">
        update focus set title=#{title},url=#{url},publishtime=#{publishTime} where id=#{id}
    </update>
</mapper>