<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiuu.core.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.caiuu.core.entity.Topic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="adpic" property="adPic" jdbcType="VARCHAR" />
    <result column="headpic" property="headPic" jdbcType="VARCHAR" />
    <result column="materialid" property="materialId" jdbcType="INTEGER" />
    <result column="key1" property="key1" jdbcType="VARCHAR" />
    <result column="key2" property="key2" jdbcType="VARCHAR" />
    <result column="key3" property="key3" jdbcType="VARCHAR" />
    <result column="hit" property="hit" jdbcType="INTEGER" />
    <result column="hitlast" property="hitLast" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lasttime" property="lastTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="select" resultType="Topic" parameterType="int">
        select * from topic where id=#{id}
    </select>

    <select id="selectAll" resultType="Topic">
        select * from topic order by id desc
    </select>

    <insert id="insert" parameterType="Topic">
        insert into topic(url,title,remark,adpic,headpic,materialid,key1,key2,key3,status,createtime,lasttime)
        values(#{url},#{title},#{remark},#{adPic},#{headPic},#{materialId},#{key1},#{key2},#{key3},1,now(),now())
    </insert>

    <update id="update" parameterType="Topic">
        update topic set url=#{url},remark=#{remark},materialid=#{materialId},key1=#{key1},key2=#{key2},
        key3=#{key3},status=#{status},lasttime=now() where id=#{id}
    </update>

    <update id="updatePicture" parameterType="Topic">
        update topic set adpic=#{adPic},headPic=#{headPic} where id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from topic where id=#{id}
    </delete>
</mapper>