<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiuu.core.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.caiuu.core.entity.Topic" >
    <id column="topicid" property="topicid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="adpic" property="adpic" jdbcType="VARCHAR" />
    <result column="headpic" property="headpic" jdbcType="VARCHAR" />
    <result column="materialid" property="materialid" jdbcType="INTEGER" />
    <result column="key1" property="key1" jdbcType="VARCHAR" />
    <result column="key2" property="key2" jdbcType="VARCHAR" />
    <result column="key3" property="key3" jdbcType="VARCHAR" />
    <result column="hit" property="hit" jdbcType="INTEGER" />
    <result column="hitlastweek" property="hitlastweek" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lasttime" property="lasttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    topicid, title, url, remark, adpic, headpic, materialid, key1, key2, key3, hit, hitlastweek, 
    state, createtime, lasttime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.caiuu.core.entity.TopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Topic
    where topicid = #{topicid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Topic
    where topicid = #{topicid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.caiuu.core.entity.TopicExample" >
    delete from Topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.caiuu.core.entity.Topic" >
    <selectKey resultType="java.lang.Integer" keyProperty="topicid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Topic (title, url, remark, 
      adpic, headpic, materialid, 
      key1, key2, key3, hit, 
      hitlastweek, state, createtime, 
      lasttime)
    values (#{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{adpic,jdbcType=VARCHAR}, #{headpic,jdbcType=VARCHAR}, #{materialid,jdbcType=INTEGER}, 
      #{key1,jdbcType=VARCHAR}, #{key2,jdbcType=VARCHAR}, #{key3,jdbcType=VARCHAR}, #{hit,jdbcType=INTEGER}, 
      #{hitlastweek,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{lasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.caiuu.core.entity.Topic" >
    <selectKey resultType="java.lang.Integer" keyProperty="topicid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="adpic != null" >
        adpic,
      </if>
      <if test="headpic != null" >
        headpic,
      </if>
      <if test="materialid != null" >
        materialid,
      </if>
      <if test="key1 != null" >
        key1,
      </if>
      <if test="key2 != null" >
        key2,
      </if>
      <if test="key3 != null" >
        key3,
      </if>
      <if test="hit != null" >
        hit,
      </if>
      <if test="hitlastweek != null" >
        hitlastweek,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adpic != null" >
        #{adpic,jdbcType=VARCHAR},
      </if>
      <if test="headpic != null" >
        #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="materialid != null" >
        #{materialid,jdbcType=INTEGER},
      </if>
      <if test="key1 != null" >
        #{key1,jdbcType=VARCHAR},
      </if>
      <if test="key2 != null" >
        #{key2,jdbcType=VARCHAR},
      </if>
      <if test="key3 != null" >
        #{key3,jdbcType=VARCHAR},
      </if>
      <if test="hit != null" >
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="hitlastweek != null" >
        #{hitlastweek,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.caiuu.core.entity.TopicExample" resultType="java.lang.Integer" >
    select count(*) from Topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Topic
    <set >
      <if test="record.topicid != null" >
        topicid = #{record.topicid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.adpic != null" >
        adpic = #{record.adpic,jdbcType=VARCHAR},
      </if>
      <if test="record.headpic != null" >
        headpic = #{record.headpic,jdbcType=VARCHAR},
      </if>
      <if test="record.materialid != null" >
        materialid = #{record.materialid,jdbcType=INTEGER},
      </if>
      <if test="record.key1 != null" >
        key1 = #{record.key1,jdbcType=VARCHAR},
      </if>
      <if test="record.key2 != null" >
        key2 = #{record.key2,jdbcType=VARCHAR},
      </if>
      <if test="record.key3 != null" >
        key3 = #{record.key3,jdbcType=VARCHAR},
      </if>
      <if test="record.hit != null" >
        hit = #{record.hit,jdbcType=INTEGER},
      </if>
      <if test="record.hitlastweek != null" >
        hitlastweek = #{record.hitlastweek,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lasttime != null" >
        lasttime = #{record.lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Topic
    set topicid = #{record.topicid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      adpic = #{record.adpic,jdbcType=VARCHAR},
      headpic = #{record.headpic,jdbcType=VARCHAR},
      materialid = #{record.materialid,jdbcType=INTEGER},
      key1 = #{record.key1,jdbcType=VARCHAR},
      key2 = #{record.key2,jdbcType=VARCHAR},
      key3 = #{record.key3,jdbcType=VARCHAR},
      hit = #{record.hit,jdbcType=INTEGER},
      hitlastweek = #{record.hitlastweek,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      lasttime = #{record.lasttime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.caiuu.core.entity.Topic" >
    update Topic
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adpic != null" >
        adpic = #{adpic,jdbcType=VARCHAR},
      </if>
      <if test="headpic != null" >
        headpic = #{headpic,jdbcType=VARCHAR},
      </if>
      <if test="materialid != null" >
        materialid = #{materialid,jdbcType=INTEGER},
      </if>
      <if test="key1 != null" >
        key1 = #{key1,jdbcType=VARCHAR},
      </if>
      <if test="key2 != null" >
        key2 = #{key2,jdbcType=VARCHAR},
      </if>
      <if test="key3 != null" >
        key3 = #{key3,jdbcType=VARCHAR},
      </if>
      <if test="hit != null" >
        hit = #{hit,jdbcType=INTEGER},
      </if>
      <if test="hitlastweek != null" >
        hitlastweek = #{hitlastweek,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where topicid = #{topicid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caiuu.core.entity.Topic" >
    update Topic
    set title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      adpic = #{adpic,jdbcType=VARCHAR},
      headpic = #{headpic,jdbcType=VARCHAR},
      materialid = #{materialid,jdbcType=INTEGER},
      key1 = #{key1,jdbcType=VARCHAR},
      key2 = #{key2,jdbcType=VARCHAR},
      key3 = #{key3,jdbcType=VARCHAR},
      hit = #{hit,jdbcType=INTEGER},
      hitlastweek = #{hitlastweek,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      lasttime = #{lasttime,jdbcType=TIMESTAMP}
    where topicid = #{topicid,jdbcType=INTEGER}
  </update>
</mapper>